/* google-font-import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');



/* --------------common-style---------------- */
:root {
    --orange: #ff9f1a;
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-transform: capitalize;
    outline: none;
    text-decoration: none;
}

*::selection {
    background: var(--orange);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.btn {
    cursor: pointer;
    border: .2rem solid var(--orange);
    color: var(--orange);
    background: none;
    padding: .5rem 3rem;
    margin-top: 1rem;
    position: relative;
    z-index: 0;
    font-size: 2rem;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--orange);
    z-index: -1;
    clip-path: circle(0% at 0% 0%);
    transition: .3s;
}

.btn:hover::before {
    clip-path: circle(100%);
}

.btn:hover {
    color: #fff;
}

.heading {
    display: inline-block;
    color: #333;
    margin: 2rem 0;
    padding: 1rem 0;
    padding-top: 8rem;
    font-size: 3rem;
    border-bottom: .2rem solid var(--orange);
}

/* --------------navbar-style---------------- */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 2rem 3rem;
}

header .logo {
    font-size: 3rem;
    color: #fff;
}

header .logo span {
    color: var(--orange);
}

header .navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar ul li {
    margin: 0 1rem;
}

header .navbar ul li a {
    color: #fff;
    font-size: 2rem;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
    color: var(--orange);
}

header #menu {
    font-size: 3rem;
    color: var(--orange);
    cursor: pointer;
    display: none;
}

header.header-active {
    background: #fff;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
}

header.header-active .logo,
header.header-active .navbar a {
    color: #333;
}